/*------------ FONT-STYLES ---------------------------*/

@font-face {
    font-family: 'Mercutio Nbp';
    src: url('fonts/mercutio_sc-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'gotham';
    src: url('fonts/flamante-roma-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: medium;

}


@font-face {
    font-family: 'guillermonkey';
    src: url('fonts/guillermonkey-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'just a kid';
    src: url('fonts/just_a_kid-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*------------ ---------------DEFAULT------------------ ---------------------------*/
body{

    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgb(252, 252, 252);
    color: rgb(226, 252, 255);
}

nav, .headtitle, .countdown, .download-links, .teaser {
    border-radius: 0.2rem;
}

/*---------------------------------*/
nav{
    background:rgb(255, 255, 255);
    height: auto;
    width: 100%;
    flex-direction: column;
    /* margin-bottom: 7vw; */
}

header
    {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        /* align-items: flex-start; */
    }


.socialmedia{
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
    text-decoration: none;
    list-style-type: none;
    padding-right: 0.4rem;
    margin-top: 0.5rem;
}

.ig img{
    width: 4vw;
    
}

.tik img{
    width: 4vw;
}

.socialmedia li{
    
    padding: 0.2rem;
}

.logoapp img{
    padding-top: 0.3rem;
    padding-left: 0.4rem;
    width: 19vw;
    
}

/*-------------- content -------------------*/



#wrapper{
    background: rgb(255, 255, 255);
    width: 50%;
    height: auto;
   
}



.headtitle{
    
    width: 100%;
    height: auto;
    margin-bottom: 1rem;/*?*/
    text-align: center;
}

h1{
    font-size: 2.5rem;
    font-family: guillermonkey, Arial, Helvetica, sans-serif;
    padding: 0rem;
    -webkit-text-stroke: 0.1vw rgb(82,73,42,1); /* width and color */
    color: rgb(1, 251,234, 1);
    margin: 0;
    }




/*---------------------------------*/


/* general styling */

  
  
 
  
  .container {
    color: rgb(82,73,42,1);
    margin: 0 auto;
    text-align: center;
    font-family: guillermonkey;
    padding-top: 4rem;
    padding-bottom: 2rem;
    
  }
  
  .container ul 

    {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: center;
        padding-right: 2.1rem;
    }
  
 
  
  li {
    display: inline-block;
    font-size: 0.9rem;
    list-style-type: none;
    padding: 1rem;
    text-transform: uppercase;
  }
  
  li span {
    display: block;
    font-size: 3rem;
  }
  
  




.teaser{
    background: rgb(255, 255, 255);
    width: 100%;
    height: auto;
    margin-bottom: 1rem;/*?*/
    text-align: center;
    

    

    
}

h2{
    font-size: 3.5rem;
    font-family: just a kid, Helvetica;
    padding: 1vw; /*flexboxtext instead? No (see my comment on line 169), second line text centre? Yes*/ 
    color: rgb(253, 0, 253);
    margin:0;
}

h3{

    font-size: 10vw;
    font-family: just a kid, Helvetica;
    padding-left: 20%; /*flexboxtext instead? No - because this is only one element (unless you wnated this eleemnt to be in the middle of it's parent elemnt with fixed width and height)*/
    padding-bottom:0% ;


}

h4{
    font-size: 1vw;
    font-family:  Helvetica;
    padding: 10%; /*flexboxtext instead? No - because this is only one element (unless you wnated this eleemnt to be in the middle of it's parent elemnt with fixed width and height)*/
    color: black;
    text-align:justify;
    line-height: 1rem;
    

}

h5{
    font-size: 1.6rem;
    font-family: guillermonkey, Arial, Helvetica, sans-serif;
    padding-top: 10%;
    -webkit-text-stroke: 0.1vw rgb(82,73,42,1); /* width and color */
    color: rgb(1, 251,234, 1);
    
    

}

/*---------------------------------*/

.download-links{
    background: rgb(255, 255, 255);
    width: 100%;
    height: auto;
    margin-bottom: 1rem;/*?*/
    


    
  
}

.storelinks{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style-type: none;
    justify-content: center;
    align-items: center;
     padding-right: 2.4rem; /*--good practice? No - you wanna avoid using percentages on paddings and margins--- */
}

.storelinks > li{
    padding: 0.5rem;
}


 .appstore img{
width: 22.3vw;
}

.playstore img {
 width: 22.3vw;
}

   

.qrcode img{
    width: 8vw;
    border-radius: 0.5vw;
}




/*---------------------------------*/

.smiley{
    background: rgb(124, 235, 255);
    width: 100%;
    /* max-width: 600px; */
    height: auto;
    display: flex;
    justify-content: center;
    background-image: url(https://media1.giphy.com/media/j3kgccVddHsPu/giphy.gif?cid=ecf05e470sohfeknf8io8lbs8gubxjrg78qwilmc24vb1w43z&rid=giphy.gif&ct=gl);
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    margin-bottom: 2rem;
    

   
}

pre{
    font-size: 1rem;
    padding-right: 9%;
    color: rgb(255, 0, 255);
}

#footer{

    display: flex;
    justify-content: center;
    flex-direction: row;

    
}

.footer_names{

justify-content: space-between;
flex-direction: row;
font-family: guillermonkey, Arial, Helvetica, sans-serif;
text-align: center;


}

.links_privacy{
    padding-right: 7.5%;
}

 .links_privacy a {
    text-decoration: none;
    color: rgb(82,73,42,1);
}







/* The default CSS is going to work on an iPhone */

#wrapper {width:95%;  margin: 0 auto; padding: 0px; }

#header {width:100%; }

#content {width:100%; }

footer {width: 100%; }



/* Keeps the items in the flexbox (display: flex) in a row */
/* To change this property to column for example in the media queries, */
/* you will have to include this one below as a default */


/*// Small devices (landscape phones, 576px and up)*/


@media (min-width: 576px) {

    h1,h2,h3{
        font-size: 4rem;
    }
    .ig img, .tik img{
        width: 2rem;
    }
    .logoapp img{
        padding: 1rem;
        width: 10rem;
    }
    #wrapper{
        width: 100%;
        /* padding: 1rem; */
    }

    .count li{
        font-size: 2rem;
    }
    .count li span{
        font-size: 3rem;
    }

     .appstore img{
        width: 6rem;
    }

    .playstore img {
        width: 6rem;
    }
    .qrcode img{
        width: 3rem;
    }

    /* nav{
        margin-bottom: 1rem;
    } */
}

@media (max-width: 576px) {

    pre{
        font-size: 2vw;
    }


}


/* // Medium devices (tablets, 768px and up)
 */

@media (min-width: 768px) {
    /* Change the items in the flexbox in rows (so single column) */
    /* nav{
        display: flex;
        flex-direction: row;
        
    } */

    /* #wrapper {width:90%;  margin: 0 auto; } */
/*     
    #content {width:70%; float:left; }
    
    #sidebar {width:30%; float:right; } */


    .countdown div{
        font-size: 3rem;
        padding: 1rem;
    }

    .appstore img{
        width: 8rem;
    }

    .playstore img {
        width: 8rem;
    }
    .qrcode img{
        width: 4rem;
    }

}

/* // Large devices (desktops, 992px and up)
 */

@media (min-width: 992px) {
    
    h4{
    line-height: 2rem;
} 

    h5{
        font-size: 4rem;
    }

    .countdown div{
        font-size: 4rem;
        padding: 1rem;
    }

    .appstore img{
        width: 10rem;
    }

    .playstore img {
        width: 10rem;
    }
    .qrcode img{
        width: 5rem;
    }
}

/* // Extra large devices (large desktops, 1200px and up)
 */


@media (min-width: 1200px) {

    /* #wrapper {width:90%;  margin: 0 auto; } */
    
}