/*------------ FONT-STYLES ---------------------------*/

@font-face {
    font-family: 'Mercutio Nbp';
    src: url('fonts/mercutio_sc-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'gotham';
    src: url('fonts/flamante-roma-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: medium;

}


@font-face {
    font-family: 'guillermonkey';
    src: url('fonts/guillermonkey-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'just a kid';
    src: url('fonts/just_a_kid-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*------------ --------------------------------- ---------------------------*/
body{

    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgb(255, 124, 255);
    color: rgb(255, 124, 255);
}

nav, .headtitle, .countdown, .download-links, .teaser, .{
    border-radius: 1rem;
}

/*---------------------------------*/
nav{
    background:rgb(176, 255, 124);
    height: auto;
    width: 100%;
    flex-direction: column;
    /* margin-bottom: 7vw; */
}

header
    {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        /* align-items: flex-start; */
    }


.socialmedia{
    /* display: flex;
    align-items: flex-end;
    flex-direction: column; */
    justify-content: space-around;
    text-decoration: none;
    list-style-type: none;
    padding-right: 0.5rem;
    margin-top: 0.5rem;
}

.ig img{
    width: 4vw;
}

.tik img{
    width: 4vw;
}
.logoapp img{
    padding-top: 10%;
    padding-left: 15%;
    width: 19vw;
    
}

/*-------------- content -------------------*/



#wrapper{
    background: rgb(255, 124, 255);
    width: 50%;
    height: auto;
   
}



.headtitle{
    background: rgb(124, 124, 255);
    width: 100%;
    height: auto;
    margin-bottom: 1rem;/*?*/
    text-align: center;
}

h1{
    font-size: 8vw;
    font-family: guillermonkey, Arial, Helvetica, sans-serif;
    padding: 1rem;
    -webkit-text-stroke: 0.5px rgb(0, 0, 175); /* width and color */
    }


/*---------------------------------*/




.countdown{
    background: rgb(252, 109, 109);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center; 
    margin-bottom: 1rem;

}

.countdown div{
    font-size: 6.5vw;
    font-family: 'MERCUTIO NBP', gotham;
    -webkit-text-stroke: 1.5px rgb(175, 83, 83); /* width and color */
    padding: 2%;
  border-radius: 5px;
  background: rgb(252, 109, 109);
  /* margin: 0.5px; */
}

.teaser{
    background: rgb(255, 196, 123);
    width: 100%;
    height: auto;
    margin-bottom: 1rem;/*?*/
    text-align: center;

    
}

h2{
    font-size: 8vw;
    font-family: just a kid, Helvetica;
    padding: 1rem; /*flexboxtext instead? No (see my comment on line 169), second line text centre? Yes*/ 

}

h3{

    font-size: 8vw;
    font-family: just a kid, Helvetica;
    padding-left: 20%; /*flexboxtext instead? No - because this is only one element (unless you wnated this eleemnt to be in the middle of it's parent elemnt with fixed width and height)*/
    padding-bottom:0% ;


}

/*---------------------------------*/

.download-links{
    background: rgb(246, 255, 123);
    width: 100%;
    height: auto;
    margin-bottom: 1rem;/*?*/


    
  
}

.storelinks{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    /* padding-right: 2rem; --good practice? No - you wanna avoid using percentages on paddings and margins--- */
}

.storelinks > li{
    padding: 0.5rem;
}


 .appstore img{
width: 20.3vw;
}

.playstore img {
 width: 23.3vw;
}

   

.qrcode img{
    width: 8vw;
    border: 3px solid rgb(255, 124, 255);
    border-radius: 5%;
}




/*---------------------------------*/

.smiley{
    background: rgb(124, 235, 255);
    width: 100%;
    /* max-width: 600px; */
    height: auto;
    display: flex;
    justify-content: center;
    background-image: url(https://media1.giphy.com/media/j3kgccVddHsPu/giphy.gif?cid=ecf05e470soheknf8io8lbs8gubxjrg78qwilmc24vb1w43z&rid=giphy.gif&ct=gl);
    background-size: cover;
    background-position: center;

   
}

pre{
    font-size: 1rem;
    padding-right: 9%;
    color: rgb(255, 124, 255);
}











/* The default CSS is going to work on an iPhone */

#wrapper {width:95%;  margin: 0 auto; padding: 0px; }

#header {width:100%; }

#content {width:100%; }



/* Keeps the items in the flexbox (display: flex) in a row */
/* To change this property to column for example in the media queries, */
/* you will have to include this one below as a default */


/*// Small devices (landscape phones, 576px and up)*/


@media (min-width: 576px) {

    h1,h2,h3{
        font-size: 2rem;
    }
    .ig img, .tik img{
        width: 2rem;
    }
    .logoapp img{
        padding: 1rem;
        width: 5rem;
    }
    #wrapper{
        width: 100%;
        /* padding: 1rem; */
    }

    .countdown div{
        font-size: 2rem;
        padding: 1rem;
    }

     .appstore img{
        width: 6rem;
    }

    .playstore img {
        width: 6rem;
    }
    .qrcode img{
        width: 3rem;
    }

    /* nav{
        margin-bottom: 1rem;
    } */
}

@media (max-width: 576px) {

    pre{
        font-size: 2vw;
    }


}


/* // Medium devices (tablets, 768px and up)
 */

@media (min-width: 768px) {
    /* Change the items in the flexbox in rows (so single column) */
    /* nav{
        display: flex;
        flex-direction: row;
        
    } */

    /* #wrapper {width:90%;  margin: 0 auto; } */
/*     
    #content {width:70%; float:left; }
    
    #sidebar {width:30%; float:right; } */


    .countdown div{
        font-size: 3rem;
        padding: 1rem;
    }

    .appstore img{
        width: 8rem;
    }

    .playstore img {
        width: 8rem;
    }
    .qrcode img{
        width: 4rem;
    }

}

/* // Large devices (desktops, 992px and up)
 */

@media (min-width: 992px) {

    .countdown div{
        font-size: 4rem;
        padding: 1rem;
    }

    .appstore img{
        width: 10rem;
    }

    .playstore img {
        width: 10rem;
    }
    .qrcode img{
        width: 5rem;
    }
}

/* // Extra large devices (large desktops, 1200px and up)
 */


@media (min-width: 1200px) {

    /* #wrapper {width:90%;  margin: 0 auto; } */
    
}