/*------------ FONT-STYLES ---------------------------*/

@font-face {
    font-family: 'Mercutio Nbp';
    src: url('fonts/mercutio_sc-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'gotham';
    src: url('fonts/flamante-roma-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: medium;

}


@font-face {
    font-family: 'guillermonkey';
    src: url('fonts/guillermonkey-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'just a kid';
    src: url('fonts/just_a_kid-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*------------ --------------------------------- ---------------------------*/
body{

    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgb(255, 124, 255);
}

/*---------------------------------*/
nav{
  
    background:rgb(176, 255, 124);
    height: auto;
    width: 95%;
}

.socialmedia{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    list-style-type: none;
    align-items: flex-end;
    flex-direction: column;
    padding-right: 10%;
}

.socialmedia li a img{
    width: 5vw;
}

/*---------------------------------*/



#wrapper{
    background: rgb(255, 124, 255);
    width: 50%;
    height: auto;
    
    
    
   
}



.headtitle{
    background: rgb(124, 124, 255);
    width: 100%;
    height: auto;  
    margin-top: 0%; 
}

h1{
    font-size: 8vw;
    font-family: guillermonkey, Arial, Helvetica, sans-serif;
    padding-left: 13%; /*flexboxtext instead?*/
    }


/*---------------------------------*/




.countdown{
    background: rgb(255, 123, 123);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
 
}

.countdown{
    font-size: 8vw;
    font-family: 'MERCUTIO NBP', gotham;
}




.teaser{
    background: rgb(255, 196, 123);
    width: 100%;
    height: auto;
    
}

h2{
    font-size: 8vw;
    font-family: just a kid, Helvetica;
    padding-left: 13%; /*flexboxtext instead?*/
}

/*---------------------------------*/

.download-links{
    background: rgb(246, 255, 123);
    width: 100%;
    height: auto;
  
}

.storelinks{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    padding-right: 15%; /*--good practice?---*/
}



 .appstore img {
width: 15vw;
}

.playstore img{
    width: 22vw;

}

.qrcode img{
    width: 8vw;


}




/*---------------------------------*/

.smiley{
    background: rgb(124, 235, 255);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    background-image: url(https://media1.giphy.com/media/j3kgccVddHsPu/giphy.gif?cid=ecf05e470soheknf8io8lbs8gubxjrg78qwilmc24vb1w43z&rid=giphy.gif&ct=gl);
    background-size: cover;
    background-position: center;

   
}

pre{
    font-size: 2vw;
    padding-right: 4.5%;
    color: rgb(255, 124, 255);
}











/* The default CSS is going to work on an iPhone */

#wrapper {width:95%;  margin: 0 auto; }

#header {width:100%; }

#content {width:100%; }

#sidebar {width:100%; }

#footer {width:100%; }

/* Keeps the items in the flexbox (display: flex) in a row */
/* To change this property to column for example in the media queries, */
/* you will have to include this one below as a default */
nav{
    display: flex;
    flex-direction: column;
}

/*// Small devices (landscape phones, 576px and up)*/


@media (min-width: 576px) {

}


/* // Medium devices (tablets, 768px and up)
 */

@media (min-width: 768px) {
    /* Change the items in the flexbox in rows (so single column) */
    nav{
        display: flex;
        flex-direction: row;
    }

    #wrapper {width:90%;  margin: 0 auto; }
    
    #content {width:70%; float:left; }
    
    #sidebar {width:30%; float:right; }
}

/* // Large devices (desktops, 992px and up)
 */

@media (min-width: 992px) {}

/* // Extra large devices (large desktops, 1200px and up)
 */


@media (min-width: 1200px) {

    #wrapper {width:90%;  margin: 0 auto; }
    
}